# ############################################################################
# Git Ignore file
# ############################################################################

# ###################
# Temporary files
# ###################
**/*.~
**/*.bak
**/*.swp
**/*.backup

# ###################
# Ide files and dir
# ###################
# eclipse
# ###################
#
**/target
**/bin
**/classes
**/.settings
**/.project
# ###################
# IntelliJ
# ###################
**/.idea
**/*.iml


# ###################
# Build
# ###################
# Gradle
# ###################
**/.gradle
**/build

# ############################################################################
# End Of File
# ############################################################################

